<button 
    class="boton"
    [ngStyle]="{'background-color': color, 'width': ancho}"
    [disabled]="progresoCompletado"
    [ngClass]="{completado: progresoCompletado, presionado: mousePresionado}"
    (mousedown)="onMouseDown()" (mouseup)="onMouseUp()">
    <div class="boton__progreso" [style.background-color]="color" [style.filter]="'brightness(40%)'"
        [style.width.%]="progreso"></div>
    <span class="boton__loader" *ngIf="cargando"></span>
    <span class="boton__texto" [style.opacity]="!cargando ? 1 : 0">
        {{textoDelBoton}}
    </span>
</button>